@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>*@

<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>منصه القائد التعليمية</title>
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/all.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=Jomhuria&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>
<body>

    <nav class="nav nav-bar " style="border-bottom:2px solid rgb(96 56 19); height: auto; position: sticky; top: 0; background-color: white; z-index: 100;">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <img src="~/Material/logo 1-PhotoRoom.png-PhotoRoom.png" width="250px" alt="">
                </div>

                <div class="NavBtnContainer col-lg-9">

                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a href="~/Account/login" type="button" class="btn btn-outline-danger LoginBtn" style="margin: 10px; border-radius: 30px; outline-color: rgb(96 56 19); width: 180px; height: 50px; ">تسجيل الدخول</a>
                        <a href="~/Account/Register" type="button" class="btn btn-danger RegisterBtn" style="margin: 10px; border-radius: 30px; background-color: rgb(96 56 19);width: 140px; height: 50px; ">سجل الأن</a>

                    }
                    else
                    {
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="NavBtnContainer">
                                <a href="javascript:document.getElementById('logoutForm').submit()" style="margin: 10px; color: #603813; text-decoration: none;font-family: 'Cairo', sans-serif !important;font-family: 'Jomhuria', cursive !important ;font-size: 30px;">تسجيل الخروج</a>

                                <i class="fa-solid fa-user" style="background-color: #ddd; border-radius: 50%; font-size: 30px;"></i>
                            </div>


                        }


                    }

                </div>


            </div>

        </div>
    </nav>







    <div id="mySidenav" class="sidenav" style="z-index: 1111;">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="~/Home/Index">الرئيسية</a>
        <a href="~/MyProfile">ملفي</a>
        <a href="~/Class/Index">الحصص</a>
        <a href="/Rank">الترتيب</a>
        <a href="#a1">عن المنصة</a>
        @if (Request.IsAuthenticated)
        {

            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()

               
    <a href="javascript:document.getElementById('logoutForm').submit()">تسجيل الخروج</a>
            }
        }
    </div>


    <span style="font-size:30px;cursor:pointer ; position: fixed; top: 20px; right: 20px; z-index: 1111;" onclick="openNav()">&#9776;</span>






    @if(TempData["message"] == "submited before")
            {
                <script>
                    swal("انت جاوبت قبل كدة", "كفاية دح", "error");
                </script>
                

            }


    <div class="body-content" style="position:relative">
        @RenderBody()


    </div>








    <footer style="border-top:2px solid rgb(96 56 19); margin-top: 50px; background-color:rgb(208 208 208 / 22%); box-shadow: 0px 5px 25px 9px rgba(0,0,0,0.1);
    border-top-left-radius: 100px; ">
        <div class="container" style="min-height: 200px; display: flex; justify-content: center; align-items: center;">
            <div class="row" style="display: flex; justify-content: center; align-items: center; width: 100%;">
                <div class="col-lg-4" style="display: flex ; justify-content: center; align-items: center; flex-direction: column;">
                    <li class="list-inline-item"><P style="font-size:20px ; font-weight: 600;">Follow Us</P></li>
                    <ul class="FooterSocial list-unstyled list-inline">
                        <li class="list-inline-item"> <i class="fa-brands fa-facebook" style="font-size: 40px;"></i></li>
                        <li class="list-inline-item"><i class="fa-brands fa-instagram" style="font-size: 40px;"></i></li>
                        <li class="list-inline-item"><i class="fa-brands fa-youtube" style="font-size: 40px;"></i></li>
                        <li class="list-inline-item"><i class="fa-brands fa-whatsapp" style="font-size: 40px;"></i></li>
                    </ul>
                </div>
                <div class="col-lg-4" style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
                    <h5>
                        <a href="" style="text-decoration: none; color: rgb(96 56 19);">عن المنصة</a> </h3>
                        <h5>
                            <a href="" style="text-decoration: none; color: rgb(96 56 19);">تواصل معنا</a> </h3>
                            <h5><a href="" style="text-decoration: none; color: rgb(96 56 19);">خدماتنا</a> </h3>

                </div>
                <div class="col-lg-4" style="display: flex; justify-content: end;">
                    <img src="~/Material/logo 1-PhotoRoom.png-PhotoRoom.png" width="250px" alt="">
                </div>
            </div>
        </div>

        <div id="a1" style="min-height: 40px; background-color: rgb(96 56 19); color: white; justify-content: center; display: flex; align-items: center;">
            copyrights © Powerd By <a href="" style="text-decoration: none; color:white; padding-left: 2px;">🅰🅽🆃🅾🅽</a>
        </div>

    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/MyScripts/main.js"></script>
    <script src="~/Scripts/MyScripts/all.min.js"></script>
    <script src="~/Scripts/MyScriptsbootstrap.bundle.min.js"></script>
</body>
</html>